@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&family=Poppins:wght@300&family=Public+Sans:wght@800&display=swap');

body {
  font-family: "Inter"
  ;
}

#title {
  background-color: rgba(255, 68, 0, 0.79);
  color: #fff;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

h2 {
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  text-align: center;
  font-family: "Montserrat";
}

h4 {
  padding: 15px 32px 32px;
  margin: 0px
}

p {
  text-align: center;
  color: #8f8f8f;
}

strong {
  color: green;
}

.container-fluid {
  padding: 3% 15% 7%;
}

.navbar {
  padding: 0 0 2.5rem;
}

.navbar-brand {
  font-family: 'Pacifico', cursive;
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
}

.nav-item {
  padding: 0 1.3rem;
  margin-bottom: 10px;
}

.nav-item a {
  color: #F7F1E5;
  font-family: 'Public Sans', sans-serif;
  font-size: 1.4rem;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

.row {
  padding: 30px 0 70px 0;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.text-div h1 {
  transition: .7s ease;
  padding-top: 50px;
  padding-bottom: 20px;
}

.text-div h1:hover {
  transform: scale(1.07);
}

.slide-box {
  margin-left: 650px;
  height: 800px;
  width: 450px;
  position: absolute;
  overflow: hidden;
  transform: rotate(20deg);
}

.title-image {
  transition: 1s ease-out;
  width: 450px;
  top: 100%;
  position: relative;
  height: 100%;

}

.slide-box:hover>.title-image {
  top: 0;
}

#features {
  background-color: #F7F1E5;
  padding: 7% 15%;
  position: relative;

}

.row-fea {
  transition: .7s ease;
}

.row-fea:hover {
  transform: scale(1.07);
}

.images-1 {
  color: #ef8172;
  margin-bottom: 1rem;
  margin-left: 9rem;
}

.images-1:hover {
  color: #ff4c68;
}

#testimonials {
  background-color: rgba(255, 68, 0, 0.79);
  text-align: center;
  color: #fff;
  position: relative;
}

.carousel-item {
  transition: .7s ease;
  padding: 7% 15%;
}

.carousel-item:hover {
  transform: scale(1.06);
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#pricing {
  background-color: #FFF4E0;
  padding: 100px;
  text-align: center;
}

.card {
  transition: .7s ease;
  height: 400px;
  width: auto;
}

.card:hover {
  transform: scale(1.13);
}

.pricing-column {
  padding: 3% 2%;
}

#cta {
  padding: 3% 2%;
  text-align: center;
  background-color: rgba(255, 68, 0, 0.79);
  height: 70%;

}

.header-3 {
  transition: .7s ease;
  color: #fff;
  font-size: 3rem;
}

.header-3:hover {
  transform: scale(1.06);
}

#footer {
  background-color: #FFF4E0;
  text-align: center;
  padding: 3% 5% 3% 0;
}

.icon-btn {
  padding-bottom: 2%;
}

@media (max-width:1028px) {
  #title {
    text-align: center;
  }

  .slide-box {
    margin: auto;
    position: static;
    transform: rotate(0);
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }

  #features {
    text-align: center;
  }

  .images-1 {
    margin-right: 9rem;
  }

  #cta {
    display: block;
  }

  #footer {
    display: block;
  }
}